body {
    background-color: black;
}

header {
    margin: 0 auto;
    max-width: 960px;
    font: bold 16px serif;
    color: antiquewhite;
    text-transform: uppercase;
    text-align: center;
}

.main {
    margin: 0 auto;
    max-width: 960px;
    height: 490px;
    background-image: url(./img/medium.png);
    border: 1px solid red;
    border-radius: 4px;
}

.game {
    border: 1px solid white;
    display: flex;
    justify-content: space-around;
}

.nav {
    font: bold 16px serif;
    text-align: center;
    color: antiquewhite;
}

